---
layout: default
title: About Page
description: About Page
permalink: /about.html
---

{% include hero.html title="About" %}
<section class="mzp-l-content mzp-t-content-lg c-about-container">
  <div class="mzp-l-content">
    <p>
        Mozilla is a mission-driven technology organization. Our
        <a href="https://www.mozilla.org/en-US/mission/">
          mission
        </a>
        considers the internet as an integral part of modern life; and works to
        ensure it remains a global public resource, open and accessible to all. 
    </p>
    <br>
    <p>
        One area that Mozilla has chosen as a focus is voice technology as it plays a
        crucial role as an emerging and powerful user interface, especially for
        devices that don’t have a screen and as a method to increase accessibility
        to services and information.
    </p>
  </div>
  <div class="mzp-l-content mzp-t-content-md c-blockquote">
    <blockquote class="mzp-t-mozilla">
      <p>
        Today’s speech recognition technologies are largely tied up in a few
        companies and products that have an advantage through proprietary access
        to voice data.
      </p>
    </blockquote>
  </div>
  <div class="mzp-l-content">
    <p>
      However, today’s speech recognition technologies are largely tied up in a
      few companies and products that have an advantage through proprietary
      access to voice data. Also, only majority languages are being served and
      optimised for.
    </p>
    <br />
    <p>
      Hence, only a fraction of people benefit from this massive technological
      shift. Mozilla is concerned with the availability and accessibility of
      these voice technologies, especially to people who speak languages
      under-represented by current commercial solutions, or applications that
      don’t have the financial means to afford what’s on the market today.
    </p>
  </div>
  <div class="img-container">
    <img src="/images/about/protest.png" alt="protest" />
  </div>
  <div class="mzp-l-content">
      <div class="mzp-t-mozilla">
          <h4>
            Mozilla Voice aims to contribute to a more diverse, decentralized and
            innovative voice technology ecosystem.
          </h4>
      </div>
    <br />
    <p>
      Our goal is to both release voice-enabled products ourselves, while also
      supporting smaller players and researchers, particularly in countries with
      under-resourced languages. Providing data through Common Voice, the
      world's largest open voice database, is one part of this, as are the
      Mozilla Voice open source Speech-to-Text and Text-to-Speech engines and
      trained models which can be used for speech-enabled applications.
    </p>
  </div>
</section>
{% include news.html title="Latest News" js='/js/utils.js /js/about.js' class='js-about-blog' %}
