<!-- begin header -->
<div class="mzp-c-navigation">
  <div class="mzp-c-navigation-l-content">
    <div class="mzp-c-navigation-container">
      <button class="mzp-c-navigation-menu-button" type="button"
              aria-controls="patterns.organisms.navigation.navigation">Menu
      </button>
      <div class="c-navigation-logo">
        <a href="{{ site.baseurl }}/"><img src="{{ './images/logo.svg' }}"></a>
      </div>
      
      <div class="mzp-c-navigation-items" id="patterns.organisms.navigation.navigation">
        <div class="mzp-c-navigation-menu">
          
          <nav class="mzp-c-menu mzp-is-basic">
            <ul class="mzp-c-menu-category-list">
              {% for item in site.menu %}
              {% if forloop.first == true %}
              <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
                <div class="mzp-c-menu-title" aria-haspopup="true"
                   aria-controls="mzp-c-menu-panel-projects" aria-expanded="false">Projects</div>
                <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-projects">
                  <div class="mzp-c-menu-panel-container">
                    <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-projects">
                      Close Projects menu
                    </button>
                    <div class="mzp-c-menu-panel-content">
                      <ul>
                        <li>
                          
                          <section class="mzp-c-menu-item mzp-has-icon ">
                            <a class="mzp-c-menu-item-link" href="https://common.voice.mozilla.org/">
                              <svg class="mzp-c-menu-item-icon" width="24" height="24"
                                   xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M13 19.945V23a1 1 0 0 1-2 0v-3.055C6.5 19.448 3 15.633 3 11a1 1 0 0 1 2 0 7 7 0 0 0 14 0 1 1 0 0 1 2 0c0 4.633-3.5 8.448-8 8.945zM12 0a5 5 0 0 1 5 5v6a5 5 0 0 1-10 0V5a5 5 0 0 1 5-5zm0 2a3 3 0 0 0-3 3v6a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3z"
                                  fill="#000" fill-rule="nonzero"></path>
                              </svg>
                              <h4 class="mzp-c-menu-item-title">Common Voice</h4>
                              <p class="mzp-c-menu-item-desc">Crowdsourcing a multi-language open voice dataset to make speech recognition better and accessible for everyone.</p>
                            </a>
                          </section>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          
                          <section class="mzp-c-menu-item mzp-has-icon ">
                            <a class="mzp-c-menu-item-link" href="/stt">
                              <svg class="mzp-c-menu-item-icon" width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="2" height="10" rx="1" fill="black"/>
                                <rect x="4" y="5" width="2" height="14" rx="1" fill="black"/>
                                <rect x="16" y="4" width="2" height="16" rx="1" fill="black"/>
                                <rect x="12" width="2" height="24" rx="1" fill="black"/>
                                <rect x="8" y="9" width="2" height="6" rx="1" fill="black"/>
                              </svg>
  
                              <h4 class="mzp-c-menu-item-title">Mozilla Voice STT</h4>
                              <p class="mzp-c-menu-item-desc">Production-quality open-source speech recognition engine for developers to build voice-enabled technology applications.</p>
                            </a>
                          </section>
                        </li>
                        <li>
                          
                          <section class="mzp-c-menu-item mzp-has-icon ">
                            <a class="mzp-c-menu-item-link" href="/tts">
                              <svg class="mzp-c-menu-item-icon" width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2L5 6H1V12H5L10 16C10 15 10 3 10 2Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.7773 1.22293C18.3868 0.832348 17.7536 0.832253 17.363 1.22272C16.9725 1.61318 16.9724 2.24635 17.3628 2.63693L18.7773 1.22293ZM17.3628 15.3629C16.9724 15.7535 16.9725 16.3867 17.363 16.7771C17.7536 17.1676 18.3868 17.1675 18.7773 16.7769L17.3628 15.3629ZM15.2473 4.75293C14.8568 4.36235 14.2236 4.36225 13.833 4.75272C13.4425 5.14318 13.4424 5.77635 13.8328 6.16693L15.2473 4.75293ZM13.8328 11.8229C13.4424 12.2135 13.4425 12.8467 13.833 13.2371C14.2236 13.6276 14.8568 13.6275 15.2473 13.2369L13.8328 11.8229ZM17.3628 2.63693C20.8763 6.15143 20.8763 11.8484 17.3628 15.3629L18.7773 16.7769C23.0715 12.4814 23.0715 5.51843 18.7773 1.22293L17.3628 2.63693ZM13.8328 6.16693C15.3944 7.72893 15.3944 10.2609 13.8328 11.8229L15.2473 13.2369C17.5895 10.8939 17.5895 7.09593 15.2473 4.75293L13.8328 6.16693Z" fill="black"/>
                              </svg>
  
                              <h4 class="mzp-c-menu-item-title">Mozilla Voice TTS</h4>
                              <p class="mzp-c-menu-item-desc">The brains and hearts behind our speech recognition and speech synthesis tools.</p>
                            </a>
                          </section>
                        </li>
                      </ul>
                    </div>
                    <div class="mzp-c-menu-panel-card">
                      
                      <section class="mzp-c-card mzp-c-card-extra-small has-aspect-3-2">
                        <a class="mzp-c-card-block-link"
                           href="#todo">
                          <div class="mzp-c-card-media-wrapper">
                            <img class="mzp-c-card-image" src="/images/navigation/machine-learning.png"
                                 alt="">
                          </div>
                          <div class="mzp-c-card-content">
                            <h2 class="mzp-c-card-title">Mozilla Machine Learning Group</h2>
                            <p class="mzp-c-card-desc">The brains and hearts behind our speech recognition and speech synthesis tools.</p>
                          </div>
                        </a>
                      </section>
                    </div>
                  </div>
                </div>
              </li>
              {% else %}
              <li class="mzp-c-menu-category">
                <a class="mzp-c-menu-title{% if item.url == page.url %} is-active{% endif %}" href="{{ item.url }}">{{
                  item.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->
