$content-max: 1228px;

// Add extra spacing below homepage hero.
@media #{$mq-lg} {
  .mzp-c-hero {
    margin-bottom: 120px;
  }
}

// Navigation logo
$open-innovation-menu-differnce: 8px;
.c-navigation-logo {
  float: left;

  @media #{$mq-md} {
    margin: $spacing-lg ($spacing-sm * 2) ($spacing-lg - $open-innovation-menu-differnce) 0;
  }

  @media #{$mq-lg} {
    margin: $spacing-lg ($spacing-md * 2) ($spacing-lg - $open-innovation-menu-differnce) 0;
  }

  @media #{$mq-xl} {
    margin: $spacing-lg ($spacing-lg * 2) ($spacing-lg - $open-innovation-menu-differnce) 0;
  }
}

// Add a border bottom to active menu item.
.mzp-c-menu-category .mzp-c-menu-title {
  border-bottom: 1px solid transparent;
  padding-bottom: 26px;

  &:hover,
  &:active,
  &:focus,
  &.is-active {
    text-decoration: none;
    border-bottom: 1px solid $color-black;
    cursor: pointer;
  }
}

.mzp-l-content {
  max-width: $content-max;

  @media #{$mq-md} {
    padding: $layout-xs $layout-lg;
  }

  @media #{$mq-lg} {
    padding: $layout-xs $layout-xl;
  }
}

// Navigation container.
.mzp-c-navigation {
  .mzp-c-navigation-container {
    max-width: $content-max;

    @media #{$mq-md} {
      max-width: $content-max;
    }

    @media #{$mq-lg} {
      max-width: $content-max;
    }
  }
}

// Card component overrides.
.mzp-c-card-feature {
  margin: 32px auto 32px;

  .mzp-c-card-feature-content {
    margin-top: 32px;
  }

  &.mzp-l-card-feature-left-half,
  &.mzp-l-card-feature-right-half {
    grid-column-gap: 96px;
  }
}

.mzp-c-card {
  .mzp-c-card-content {
    padding: 16px;
  }
}

// Display close button in flyout menu.
// Functionality doesn't work. Temporarily disabled.
//@media #{$mq-md} {
//  .mzp-c-menu.mzp-is-basic .mzp-c-menu-panel .mzp-c-menu-button-close {
//    display: block;
//  }
//}

// Display flyout card item in mobile.
.mzp-c-menu-panel.mzp-has-card .mzp-c-menu-panel-card {
  display: block;
}

// Buttons with icons.
.mzp-c-button.mzp-c-button-icon {
  padding: 14px 30px 14px 64px;
  background-repeat: no-repeat;
  background-position: 30px center;

  &--github {
    background-image: url("/images/icons/github.svg");
  }

  &--discussion {
    background-image: url("/images/icons/discussion.svg");
  }
}

.c-home{
  &--projects h2, &--get-started h2{
    font-family: Zilla Slab;
  }

  &--projects {
    @media #{$mq-sm} and (max-width: $screen-lg){
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-xl;

      section{
        max-width: 100% !important;
        width: 100% !important;
      }

      > section:last-child{
        grid-column: 1 / span 2;
      }
    }
  }
}

.partners-list-container{
  margin-bottom: 45px;
  overflow-x: hidden;

  .has-squares-bg{
    margin-top: -90px;
  }

  .l-3col--gray{
    padding: 64px 94px;
    max-width: 100%;
    margin-inline: 0;
  }

  .mzp-c-card-feature{
    // margin: auto 94px;
    grid-column-gap: 96px;
    display: grid;
    row-gap: 96px;
    grid-template-columns: 1fr 1fr;
  }
}

.partner{
  padding-inline: 32px;
  text-align: left;
  max-width: 610px;
  // display: inline-block;

  button{
    visibility: hidden;
  }

  img{
    max-height: 180px;
  }

  .links {
    a {
      color: #0060DF;
      display: block;
      font-weight: bold;
      margin-top: 16px;
    }
  }
}

.partners-intro-container{
  padding-top: 0;
  padding-bottom: 0;

  .c-decorative--content{
    align-items: center !important;
  }

  .mzp-c-card-feature{
    margin-bottom: 0;
  }
}

.mobile {
  &--banner-img{
    height: 180px;
    object-fit: contain;
  }

  &--top{
    display: flex;
    flex-direction: column-reverse;
  }
}

//mobile
@media (max-width: $screen-md ){
  .partners-intro-container .mzp-c-card-feature {
    display: flex;
    flex-direction: column-reverse;
  }

  .partners-list-container {
    .l-3col--gray {
      padding-left: 24px;
      padding-right: 24px;
    }

    .has-squares-bg{
      margin-bottom: 52.5px;
    }

    .mzp-c-card-feature{
      margin: auto 24px;
    }
  }

  .partner {
    padding: 0px;
    max-width: 100%;

    button{
      visibility: visible;
    }

    &::after{
      display: block;
      content: "";
      border-bottom: 2px solid #CDCDD4;
      margin: 30px auto;
      width: 100%;
    }

    .links a{
      display: block;
      margin-bottom: 55px;

      &::before{
        content: url('../images/icons/document.svg');
        margin-right: 10px;
      }
    }
  }

  .mobile{
    &--hidden{
      display: none;
    }

    h4 {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}

//tablet
@media (max-width: $content-lg) and (min-width: $screen-md){
.partners-list-container {
  .l-3col--gray{
    padding: 64px;
  }
  .mzp-c-card-feature{
    grid-template-columns: 1fr;
    margin: 0 64px;
    row-gap: 0;
  }
}
}