<!-- begin footer -->
<footer class="mzp-c-footer c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-primary">
      <div class="mzp-c-footer-primary-logo"><a href="https://www.mozilla.org/">Mozilla</a></div>
      <div class="mzp-c-footer-sections">
          <h5 class="mzp-c-footer-heading">
            Contact Open Innovation
          </h5>
          <ul class="mzp-c-footer-list">
            <li>Drop us a line at <a href="mailto:openinnovation@mozilla.com">openinnovation@mozilla.com</a></li>
          </ul>
      </div>
    </nav>
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-primary-logo">
        <a href="/en-US/" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
      </div>
      <div class="mzp-c-footer-legal">
        <div class="mzp-c-footer-license">
        
        
          <p>
            Visit <a href="/en-US/" data-link-type="footer" data-link-name="Mozilla Corporation">Mozilla Corporation’s</a> not-for-profit parent, the <a href="https://foundation.mozilla.org" rel="external noopener" data-link-type="footer" data-link-name="Mozilla Foundation">Mozilla Foundation</a>.
          </p>
          <p>
            Portions of this content are ©1998–2020 by individual mozilla.org contributors. Content available under a <a rel="license" href="/en-US/foundation/licensing/website-content/">Creative Commons license</a>.
          </p>
        </div>
        <ul class="mzp-c-footer-terms">
          <li><a href="/en-US/" data-link-type="footer" data-link-name="mozilla.org">mozilla.org</a></li>
          <li><a href="/en-US/privacy/" data-link-type="footer" data-link-name="Privacy">Privacy</a></li>
          <li><a href="/en-US/privacy/websites/" data-link-type="footer" data-link-name="Privacy">Website Privacy Notice</a></li>
          <li><a href="/en-US/privacy/websites/#cookies" data-link-type="footer" data-link-name="Cookies">Cookies</a></li>
          <li><a href="/en-US/about/legal/" data-link-type="footer" data-link-name="Legal">Legal</a></li>
        </ul>
      </div>
    </nav>
    
  </div>
</footer>
<!-- end footer -->
