<!-- begin footer -->
<footer class="mzp-c-footer c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-primary">
      <div class="mzp-c-footer-sections">
        <section class="mzp-c-footer-section">
          <h5 class="mzp-c-footer-heading">
            Mozilla Voice
          </h5>
          <ul class="mzp-c-footer-list">
            <li><a href="/about.html">About</a></li>
            <li><a rel="noopener noreferrer" href="https://voice.mozilla.org/faq">FAQ</a></li>
          </ul>
        </section>
        <section class="mzp-c-footer-section">
          <h5 class="mzp-c-footer-heading">
            Other Projects
          </h5>
          <ul class="mzp-c-footer-list">
            <li><a href="https://voice.mozilla.org/firefox-voice/">Firefox Voice</a></li>
            <li><a href="https://mixedreality.mozilla.org/firefox-reality/">Firefox Reality</a></li>
          </ul>
        </section>
      </div>
    </nav>
    <nav class="mzp-c-footer-secondary">
      <div>
        <div class="mzp-c-footer-primary-logo">
          <a href="https://www.mozilla.org/en-US/" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
        </div>
        <div class="mzp-c-footer-legal">
          <ul class="mzp-c-footer-terms">
            <li><a href="https://www.mozilla.org/about/" rel="noopener">About Mozilla</a></li>
            <li><a href="https://www.mozilla.org/privacy/websites/" rel="noopener">Website Privacy Notice</a></li>
            <li><a href="https://www.mozilla.org/privacy/websites/#cookies" rel="noopener">Cookies</a></li>
            <li><a href="https://www.mozilla.org/about/legal/" rel="noopener">Legal</a></li>
            <li><a href="https://www.mozilla.org/about/governance/policies/participation/" rel="noopener">Community Participation Guidelines</a></li>
          </ul>
        </div>
      </div>
      <div class="mzp-c-footer-license">
        <p>
          Visit <a href="https://www.mozilla.org/en-US/" data-link-type="footer" data-link-name="Mozilla Corporation">Mozilla Corporation’s</a> not-for-profit parent, the <a href="https://foundation.mozilla.org" rel="external noopener" data-link-type="footer" data-link-name="Mozilla Foundation">Mozilla Foundation</a>.
        </p>
        <p>
          Portions of this content are ©1998–2020 by individual mozilla.org contributors. Content available under a <a rel="license" href="https://www.mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons license</a>.
        </p>
      </div>
    </nav>
    
  </div>
</footer>
<!-- end footer -->
