<!-- begin header -->
<div class="mzp-c-navigation">
  <div class="mzp-c-navigation-l-content">
    <div class="mzp-c-navigation-container">
      <button class="mzp-c-navigation-menu-button" type="button" aria-controls="patterns.organisms.navigation.navigation">Menu</button>
      <div class="c-navigation-logo">
        <a href="{{ site.baseurl }}/"><img src="{{ './images/logo.svg' }}"></a>
      </div>

      <div class="mzp-c-navigation-items" id="patterns.organisms.navigation.navigation">
        <div class="mzp-c-navigation-menu">

          <nav class="mzp-c-menu mzp-is-basic">
            <ul class="mzp-c-menu-category-list">
              {% for item in site.menu %}
              <li class="mzp-c-menu-category">
                <a class="mzp-c-menu-title{% if item.url == page.url %} is-active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->