// Section links

// - Add the 'has-single-heading' class to adjust the layout and styling for a items.
// - Add the 't-dark-purple-bkg' class to adjust background color to Mozilla Dark Purple.
// - Add the 't-dark-blue-to-purple-bkg' class to adjust background color to a linear gradient.

.c-section-links {
  background-color: $color-moz-dark-blue;
  margin-bottom: $spacing-xl;

  @media #{$mq-md} {
    margin-bottom: $layout-xl;
  }

  &.t-dark-purple-bkg {
    background-color: $color-moz-dark-purple;
  }

  &.t-dark-blue-to-purple-bkg {
    background-color: $color-moz-dark-blue;
    background: linear-gradient(to bottom, $color-moz-dark-blue 50%, $color-moz-dark-purple 50%);

    @media #{$mq-sm} {
      background: linear-gradient(to left, $color-moz-dark-purple 50%, $color-moz-dark-blue 50%);
    }
  }

  &-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: $color-white;

    @media #{$mq-sm} {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }

  &-item {
    padding-bottom: $layout-xs;
    width: 100%;

    &:first-child {
      @media #{$mq-sm} {
        padding: $layout-xs $layout-xs $layout-xs 0;
      }

      @media #{$mq-md} {
        padding: $layout-md $layout-lg $layout-lg 0;
      }

      @media #{$mq-lg} {
        padding: $layout-md $layout-xl $layout-lg 0;
      }

      .has-single-heading & {
        @media #{$mq-md} {
          padding-right: $layout-sm;
        }
        @media #{$mq-lg} {
          padding-right: $layout-md;
        }
      }
    }

    &:last-child {
      padding-top: $layout-xs;

      @media #{$mq-sm} {
        padding: $layout-xs 0 $layout-xs $layout-xs;
      }

      @media #{$mq-md} {
        padding: $layout-md 0 $layout-lg $layout-lg;
      }

      @media #{$mq-lg} {
        padding: $layout-md 0 $layout-lg $layout-xl;
      }

      .has-single-heading & {
        @media #{$mq-sm} {
          padding-left: 0;
        }
      }
    }
  }

  &-text {
    margin-bottom: 0;
    max-width: 455px;

    .has-single-heading & {
      max-width: none;
      font-size: 18px;
    }
  }

  &-link {
    font-weight: bold;
  }
}