// Add extra spacing below homepage hero.
@media #{$mq-lg} {
  .mzp-c-hero {
    margin-bottom: 120px;
  }
}

// Navigation logo
$open-innovation-menu-differnce: 8px;
.c-navigation-logo {
  float: left;

  @media #{$mq-md} {
    margin: $spacing-lg ($spacing-sm * 2) ($spacing-lg - $open-innovation-menu-differnce) 0;
  }

  @media #{$mq-lg} {
    margin: $spacing-lg ($spacing-md * 2) ($spacing-lg - $open-innovation-menu-differnce) 0;
  }

  @media #{$mq-xl} {
    margin: $spacing-lg ($spacing-lg * 2) ($spacing-lg - $open-innovation-menu-differnce) 0;
  }
}

// Add a border bottom to active menu item.
.mzp-c-menu-category .mzp-c-menu-title {
  border-bottom: 1px solid transparent;

  &:hover,
  &:active,
  &:focus,
  &.is-active {
    text-decoration: none;
    border-bottom: 1px solid $color-black;
  }
}

.mzp-l-content {
  @media #{$mq-md} {
    padding: $layout-xs $layout-lg;
  }

  @media #{$mq-lg} {
    padding: $layout-xs $layout-xl;
  }
}

// Navigation container.
.mzp-c-navigation {
  .mzp-c-navigation-container {
    max-width: $content-max;

    @media #{$mq-md} {
      max-width: $content-max;
    }

    @media #{$mq-lg} {
      max-width: $content-max;
    }
  }
}

.mzp-c-card-feature.mzp-l-card-feature-left-half,
.mzp-c-card-feature.mzp-l-card-feature-right-half {
  grid-column-gap: 96px;
  column-gap: 96px;
}
